xmlproject/NewFile3.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>

	<xs:element name="users">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="user" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="user">
		<xs:complexType>
			<xs:sequence> <!-- choice, All -->
				<xs:element ref="user-name" minOccurs="1" maxOccurs="1">
					
				</xs:element>
				<xs:element ref="password" minOccurs="1" maxOccurs="1" />
				<xs:element ref="project" minOccurs="1" maxOccurs="1" />
				<xs:element ref="location" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			
			<xs:attribute name="role" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="user-name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Java" />
				<xs:enumeration value="XML" />
				<xs:enumeration value="Python" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	
	<xs:element name="project">
		<xs:complexType>
			<xs:sequence> <!-- choice, All -->
				<xs:element ref="user-name" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="projectHead" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cost" type="xs:positiveInteger" />
	<xs:element name="publication-date" type="xs:date" />

</xs:schema>